body {
	background-image:url("../img/fund.png");
	background-repeat: no-repeat;
	background-size: 100% 1000%, contain, 3em;

}

/* MENU PRINCIPAL */

#nome {
	font-size: 35pt;
	color: red;
	font-family: "Comic Sans MS";
	position: absolute;
	left: 500px;
	top: 30px;
	
}

.menu ul li {
	background-color: #c2eced;
	color: black;
	float: left;
	width: 200px;
	height: 40px;
	display:inline-block;
	text-align: center;
	line-height:42px;
}
.menu ul li:hover{
	background-color: #a5c8c9;
}

.menu ul{
	padding: 0;
	margin-left: 250px;
	cursor: pointer;
	position: relative;
}

.menu ul ul{
	display: none;
	margin-left: 0;
}

.menu ul li:hover > ul{
	display: block;
}
.menu a{
	text-decoration: none;
	color: black;
}
/* MENU PRINCIPAL */

/* INICIO DO BOLO DE CHOCOLATE */

.chocolate {
	font-size: 25pt;
	font-family: Arial;
	margin-top: 90px;
	margin-left: 300px;
	color: black;
	
}

.ing {
	margin-left: 300px;
	margin-top: 5px;
	font-size: 20pt;
}

.massag {
	width: 400px;
	height: 330px;
	font-size: 15pt;
	background: #bccae2;
	margin-left: 250px;
	position: absolute;
	
}
.massa{
	margin-left: 30px;
	font-family: Arial;
	font-size: 14pt;
	text-decoration: underline;
}

.cobertura{
	width: 400px;
	height: 330px;
	font-size: 15pt;
	background: #bccae2;
	margin-left: 700px;
	float: left;
}

.cobe{
	margin-left: 30px;
	font-family: Arial;
	font-size: 14pt;
	text-decoration: underline;

}

































/* FIM DO BOLO DE CHOCOLATE */

