body {
	background-image:url("../img/fund.png");
	background-repeat: no-repeat;
	background-size: 100% 1000%, contain, 3em;

}


/* MENU PRINCIPAL */

#nome {
	font-size: 35pt;
	color: red;
	font-family: "Comic Sans MS";
	position: absolute;
	left: 500px;
	top: 30px;
	
}

.menu ul li {
	background-color: #c2eced;
	color: black;
	float: left;
	width: 200px;
	height: 40px;
	display:inline-block;
	text-align: center;
	line-height:42px;
}
.menu ul li:hover{
	background-color: #a5c8c9;
}

.menu ul{
	padding: 0;
	margin-left: 250px;
	cursor: pointer;
	position: relative;
}

.menu ul ul{
	display: none;
	margin-left: 0;
}

.menu ul li:hover > ul{
	display: block;
}
.menu a{
	text-decoration: none;
	color: black;
}
/* MENU PRINCIPAL */

form{
	font-size: 16px;
	background: #CCC;
	max-width: 500px;
	margin: 0 auto;
	padding: 0 10px 10px 10px;
}

.envia input{
	background-color: #069;
	height: 40px;
	width: 150px;
	margin-left: 150px;
	font-weight: bold;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid;
	color: #FFF;
	cursor: pointer;
}

.fundo{
	 border-radius: 25%;
    border: solid 2px black;
    background-color: #dae3f2;
}