body {
	background-image:url("../img/fund.png");
	background-repeat: no-repeat;
	background-size: 100% 1000%, contain, 3em;
}


/* MENU PRINCIPAL */

#nome {
	font-size: 35pt;
	color: red;
	font-family: "Comic Sans MS";
	position: absolute;
	left: 500px;
	top: 30px;
	
}

.menu ul li {
	background-color: #c2eced;
	color: black;
	float: left;
	width: 200px;
	height: 40px;
	display:inline-block;
	text-align: center;
	line-height: 42px;
}
.menu ul li:hover{
	background-color: #ed959f;
}

.menu ul{
	padding: 0;
	margin-left: 250px;
	cursor: pointer;

	

}

.menu ul ul{
	display: none;
	margin-left: 0;
}

.menu ul li:hover > ul{
	display: block;
}
.menu a{
	text-decoration: none;
	color: black;
}
/* MENU PRINCIPAL */




form{
	font-size: 16px;
	background: #CCC;
	max-width: 500px;
	margin: 0 auto;
	padding: 0 10px 10px 10px;
}
h2{
color: #333
}